.recover-password {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 50%;
    width: 80%;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.6);
    border: 1px solid black;
    border-radius: 5px;

    .recover-card {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .recover-block {
            display: flex;
            height: 20%;
            width: 80%;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            .recover-title {
                width: 100%;
                height: 50%;
                font-weight: bold;
                text-align: center;
                font-size: 24px;
                letter-spacing: 2px;
            }

            .recover-message {
                width: 100%;
                height: 50%;
                font-size: 14px;
                font-style: italic;
                text-align: center;
            }

            .recover-text {
                width: 100%;
                height: 50%;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                letter-spacing: 2px;
            }

            .recover-input {
                width: 100%;
                height: 50%;
            }

            .recover-btn {
                cursor: pointer;
                width: 100%;
                height: 60%;
                background-color: black;
                color: white;
                font-size: 12px;
                letter-spacing: 2px;
                border-radius: 5px;
                opacity: 0.7;
                transition: all 0.2s ease-in-out;
            } 

            .recover-btn:hover {
                opacity: 1;
            }
            .recover-btn:active {
                transform: scale(1.1)
            }
        }

        .recover-block:nth-child(3) {
            align-items: flex-end;
        }
    }
}